*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: gray;
}

#container {
    display:flex;
    background: #fff url(bg.png) center center/cover no-repeat;
    height: 100%;
    align-items: center;
    flex-direction: column;
}


.title {
    color:white;
    font-size: 3rem;
    text-align: center;
    margin: 0.4rem 0 0.4rem 0;
    padding-top: 15px;
}

#board-container {
    background-color: rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 10px;
}

#board {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 5px;
padding: 20px;
box-sizing: border-box;
}

#stateAlert {
    background-color: aquamarine;
    z-index: 9999;
    position: absolute;
    top: 30%;
    left: 40%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    align-items: center;
    border-radius: 5rem;
}
#pokeimg{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    align-items: center;
}
#imgfile {
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    
    
}
#titleIMG{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;

}
.tile {
    border: 2px solid rgb(58, 58, 60);
    min-width: 60px;
    min-height: 60px;
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

